
body
{
    background: rgba(0, 0, 0, 0.425);
    font-size: 1rem;
   
}

.contour
{
    width: 70%;
    margin: 5% 25%;
}

table
{
    width: 50%;
    height: 70vh;
    border: solid 2px black;
   
}

td button
{
    width:80%
    
}

button
{
    height: 50px;
    font-weight: bold;

}

input
{
    height: 30px;
    width: 80%;
}

@media all and (max-width: 900px)
{
    .contour
    {
        width: 100%;
        margin: auto 8%;
    }

    table
    {
        width: 50%;
        height: 40vh;
        border: solid 2px black;
       
    }
    td button
    {
        margin: 0%;
        
    }
}