
body
{
    background: rgba(0, 0, 0, 0.425);
    font-size: 1rem;
   
}

.contour
{
    width: 70%;
    margin: 5% 25%;
}

table
{
    width: 50%;
    height: 70vh;
    border: solid 2px black;
   
}

td button
{
    width:80%
    
}

button
{
    height: 50px;
    font-weight: bold;

}

input
{
    height: 30px;
    width: 80%;
}

@media all and (max-width: 900px)
{
        

    
            width: 100%;
            margin:0%;
        

        table
        {
            
            width: 100%;
            margin:0%;
            height: 50vh;
            border: solid 1px black;
        
        }

        td button
        {
            width:100%
            
        }

        button
        {
            height: 30px;

        }

        input
        {
            height: 30px;
            width: 80%;
        }
}